.login-form {
    width: 350px;
    min-width: 300px;
    max-width: 80vh;
    min-height: 390px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-login {
    min-width: 280px;
}

.ask-account {
    display: inline-block;
    font-size: 14px;
    background-color: rgb(20, 20, 20);
    width: 100%;
}
